
EatAsYouGoApi\.Services/bin/

EatAsYouGoApi/bin/

\.vs/

EatAsYouGoApi/obj/

*.user

EatAsYouGoApi\.Core/bin/

EatAsYouGoApi\.Core/obj/

EatAsYouGoApi\.DataModels/bin/

EatAsYouGoApi\.DataModels/obj/

EatAsYouGoApi\.DataProviders/obj/Debug/

EatAsYouGoApi\.Services/obj/

packages/

EatAsYouGoApi\.Dtos/bin/

EatAsYouGoApi\.Dtos/obj/
/EatAsYouGoApi.DataProviders/bin/Debug
/EatAsYouGoApi.DataProviders/obj/Release
/EatAsYouGoApi.DataProviders/bin/Release
/EatAsYouGoApi/Properties/PublishProfiles
/EatAsYouGoApi.Helper
/EatAsYouGoApi.DataProviders/bin
